{% extends 'base.html' %} {% load static %} {% block content %} {% if messages %}
<div class="container">
    <div class="row">

        <div class="pay_status text-center" style="margin-top: 13%;margin-left: 28%;margin-bottom: 20%;font-size: 22px;">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <a href="{% url 'dashboard'%}" style="font-size: 18px;">Go to Dashboard</a>
        </div>
    </div>
</div>
<!-- <script>
    var d = document.getElementById('result').value
    console.log(d);
    if (d == 'success') {
        console.log('success');
        Swal.fire("Payment Completed!", "Your Order Payment Has been Completed.", "success");
    } else if (d == 'wrong') {
        console.log('wr');
        Swal.fire("Payment Unfinished!", "Something went wrong!", "error");
    } else if (d == 'warning') {
        console.log('wrn');
        Swal.fire("Payment Unfinished!", "You haven't enough money at wallet.", "warning", d);
    } else {
        console.log('el');
        Swal.fire("Payment Unfinished!", "You had already paid for this order.", "info");
    }
</script> -->
{% endif %} {% endblock content%}