{% extends 'base.html' %} {% load static %} {% block content %}
<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12 offset-md-4">
                <div class="my_custom_card">
                    <form action="" method="post" id="Add_wallet_form">
                        {% csrf_token %}
                        <input type="text" id="acc_no" name="acc_no" placeholder="Account number">
                        <input type="number" id="amount" name="amount" , placeholder="Amount">

                        <input type="submit" class="btn btn-success" value="Ok">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content%}