{% extends '../base.html' %} {% load static %} {% block content %}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--Begin::Row-->
            <div class="row">
                <div class="col-xl-4">
                    <!--begin::Stats Widget 22-->
                    <div class="card card-custom bgi-no-repeat card-stretch gutter-b"
                        style="background-position: right top; background-size: 30% auto; background-image: url(assets/media/svg/shapes/abstract-3.svg)">
                        {% if ratings.avg_rating <= 2.0 %} <!--begin::Body-->
                            <div class="card-body my-4">
                                <a href="#"
                                    class="card-title font-weight-bolder text-info font-size-h6 mb-4 text-hover-state-dark d-block">Rating</a>
                                <div class="font-weight-bold text-muted font-size-sm">
                                    <span
                                        class="text-dark-75 font-weight-bolder font-size-h2 mr-2">{{rating}}%</span>Bad
                                </div>
                                <div class="progress progress-xs mt-7 bg-info-o-60">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{rating}}%;"
                                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                            <!--end::Body-->
                            {% elif ratings.avg_rating <= 3.9 %} <!--begin::Body-->
                                <div class="card-body my-4">
                                    <a href="#"
                                        class="card-title font-weight-bolder text-info font-size-h6 mb-4 text-hover-state-dark d-block">Rating</a>
                                    <div class="font-weight-bold text-muted font-size-sm">
                                        <span
                                            class="text-dark-75 font-weight-bolder font-size-h2 mr-2">{{rating}}%</span>Average
                                    </div>
                                    <div class="progress progress-xs mt-7 bg-info-o-60">
                                        <div class="progress-bar bg-warning" role="progressbar"
                                            style="width: {{rating}}%;" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <!--end::Body-->
                                {% else %}
                                <!--begin::Body-->
                                <div class="card-body my-4">
                                    <a href="#"
                                        class="card-title font-weight-bolder text-info font-size-h6 mb-4 text-hover-state-dark d-block">Rating</a>
                                    <div class="font-weight-bold text-muted font-size-sm">
                                        <span
                                            class="text-dark-75 font-weight-bolder font-size-h2 mr-2">{{rating}}%</span>Excellent
                                    </div>
                                    <div class="progress progress-xs mt-7 bg-info-o-60">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            style="width: {{rating}}%;" aria-valuenow="50" aria-valuemin="0"
                                            aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <!--end::Body-->
                                {% endif %}
                    </div>
                    <!--end::Stats Widget 22-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Stats Widget 23-->
                    <div class="card card-custom bg-info card-stretch gutter-b">
                        <!--begin::Body-->
                        <div class="card-body my-4">
                            <a href="#"
                                class="card-title font-weight-bolder text-white font-size-h6 mb-4 text-hover-state-dark d-block">Total
                                Deliveries</a>
                            <div class="font-weight-bold text-white font-size-sm">
                                <span class="font-size-h2 mr-2">{{total_deliveries}}</span>
                            </div>
                            <div class="progress progress-xs mt-7 bg-white-o-90">
                                <div class="progress-bar bg-white" role="progressbar"
                                    style="width: {{total_deliveries}}%;" aria-valuenow="50" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Stats Widget 23-->
                </div>
                <div class="col-xl-4">
                    <!--begin::Stats Widget 24-->
                    <div class="card card-custom bg-dark card-stretch gutter-b">
                        <!--begin::Body-->
                        <div class="card-body my-4">
                            <a href="#"
                                class="card-title font-weight-bolder text-white font-size-h6 mb-4 text-hover-state-dark d-block">Total
                                Pending Deliveries</a>
                            <div class="font-weight-bold text-white font-size-sm">
                                <span class="font-size-h2 mr-2">{{total_pending_deliveries}}</span>
                            </div>
                            <div class="progress progress-xs mt-7 bg-white-o-90">
                                <div class="progress-bar bg-white" role="progressbar"
                                    style="width: {{total_pending_deliveries}}%;" aria-valuenow="50" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Stats: Widget 24-->
                </div>
            </div>
            <!--End::Row-->
            <div class="row pt-4">
                <div class="col-xl-8">
                    <!--begin::Base Table Widget 6-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 pt-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">Order List</span></span>
                            </h3>
                            <div class="card-toolbar">
                                <ul class="nav nav-pills nav-pills-sm nav-dark-75">
                                    <li class="nav-item">
                                        <a class="nav-link py-2 px-4" data-toggle="tab"
                                            href="#kt_tab_pane_6_1">Month</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 px-4" data-toggle="tab" href="#kt_tab_pane_6_2">Week</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link py-2 px-4 active" data-toggle="tab"
                                            href="#kt_tab_pane_6_3">Day</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body pt-2 pb-0 mt-n3">
                            <div class="tab-content mt-5" id="myTabTables6">
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade" id="kt_tab_pane_6_1" role="tabpanel"
                                    aria-labelledby="kt_tab_pane_6_1">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-vertical-center">
                                                <thead class="mb-3">
                                                    <tr>
                                                        <th class="p-0 w-50px text-right">User</th>
                                                        <th class="p-0 min-w-150px"></th>
                                                        <th class="p-0 min-w-120px text-right">Amount</th>
                                                        <th class="p-0 min-w-70px text-right">Commision</th>
                                                        <th class="p-0 min-w-70px text-right">Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in order_month %}
                                                    <tr>
                                                        <td class="pl-0">
                                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                                <span class="symbol-label">
                                                                    <img src="{{i.user.user_pic.url}}"
                                                                        class="h-75 align-self-end" alt="" />
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="pl-0">
                                                            <a href="#"
                                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{i.user}}</a>
                                                            <span class="text-muted font-weight-bold d-block"></span>
                                                        </td>
                                                        <td class="text-right">
                                                            {% if i.paid is True %}
                                                            <span
                                                                class="text-muted font-weight-bold d-block font-size-sm">Paid</span>
                                                            {% else %}
                                                            <span
                                                                class="text-muted font-weight-bold d-block font-size-sm">Not
                                                                Paid</span>
                                                            {% endif %}
                                                            <span
                                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">{{i.amount}}</span>
                                                        </td>
                                                        <td class="text-right">{{i.driver_amount}}</td>
                                                        <td class="text-right pr-0">
                                                            <a href="{% url 'order_details' i.id %}"
                                                                class="btn btn-icon btn-light btn-sm">
                                                                <span class="svg-icon svg-icon-md svg-icon-success">
                                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="24px" height="24px" viewBox="0 0 24 24"
                                                                        version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none"
                                                                            fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.3"
                                                                                transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                                                                x="11" y="5" width="2" height="14"
                                                                                rx="1" />
                                                                            <path
                                                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                                                fill="#000000" fill-rule="nonzero"
                                                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                        </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                <tfoot>
                                                    <tr>
                                                        <td class="p-0 w-50px">Total</td>
                                                        <td class="p-0 min-w-150px">{{order_month_count}}</td>
                                                        <td class="p-0 min-w-70px text-right">{{amount_month}}</td>
                                                        <td class="p-0 min-w-70px text-right">{{commision_month}}
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Tap pane-->
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade" id="kt_tab_pane_6_2" role="tabpanel"
                                    aria-labelledby="kt_tab_pane_6_2">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <div class="table-responsive">
                                            <table class="table table-borderless table-vertical-center">
                                                <thead class="mb-3">
                                                    <tr>
                                                        <th class="p-0 w-50px text-right">User</th>
                                                        <th class="p-0 min-w-150px"></th>
                                                        <th class="p-0 min-w-120px text-right">Amount</th>
                                                        <th class="p-0 min-w-70px text-right">Commision</th>
                                                        <th class="p-0 min-w-70px text-right">Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in order_week %}
                                                    <tr>
                                                        <td class="pl-0">
                                                            <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                                <span class="symbol-label">
                                                                    <img src="{{i.user.user_pic.url}}"
                                                                        class="h-75 align-self-end" alt="" />
                                                                </span>
                                                            </div>
                                                        </td>
                                                        <td class="pl-0">
                                                            <a href="#"
                                                                class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{i.user}}</a>
                                                            <span class="text-muted font-weight-bold d-block"></span>
                                                        </td>
                                                        <td class="text-right">
                                                            {% if i.paid is True %}
                                                            <span
                                                                class="text-muted font-weight-bold d-block font-size-sm">Paid</span>
                                                            {% else %}
                                                            <span
                                                                class="text-muted font-weight-bold d-block font-size-sm">Not
                                                                Paid</span>
                                                            {% endif %}
                                                            <span
                                                                class="text-dark-75 font-weight-bolder d-block font-size-lg">{{i.amount}}</span>
                                                        </td>
                                                        <td class="text-right">{{i.driver_amount}}</td>
                                                        <td class="text-right pr-0">
                                                            <a href="{% url 'order_details' i.id %}"
                                                                class="btn btn-icon btn-light btn-sm">
                                                                <span class="svg-icon svg-icon-md svg-icon-success">
                                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                        xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                        width="24px" height="24px" viewBox="0 0 24 24"
                                                                        version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none"
                                                                            fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.3"
                                                                                transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                                                                x="11" y="5" width="2" height="14"
                                                                                rx="1" />
                                                                            <path
                                                                                d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                                                fill="#000000" fill-rule="nonzero"
                                                                                transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                        </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                <tfoot>
                                                    <tr>
                                                        <td class="p-0 w-50px">Total</td>
                                                        <td class="p-0 min-w-150px">{{order_week_count}}</td>
                                                        <td class="p-0 min-w-70px text-right">{{amount_week}}</td>
                                                        <td class="p-0 min-w-70px text-right">{{commision_week}}
                                                        </td>
                                                    </tr>
                                                </tfoot>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Tap pane-->
                                <!--begin::Tap pane-->
                                <div class="tab-pane fade show active" id="kt_tab_pane_6_3" role="tabpanel"
                                    aria-labelledby="kt_tab_pane_6_3">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-borderless table-vertical-center">
                                            <thead class="mb-3">
                                                <tr>
                                                    <th class="p-0 w-50px text-right">User</th>
                                                    <th class="p-0 min-w-150px"></th>
                                                    <th class="p-0 min-w-120px text-right">Amount</th>
                                                    <th class="p-0 min-w-70px text-right">Commision</th>
                                                    <th class="p-0 min-w-70px text-right">Details</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for i in order_day %}
                                                <tr>
                                                    <td class="pl-0">
                                                        <div class="symbol symbol-50 symbol-light mr-2 mt-2">
                                                            <span class="symbol-label">
                                                                <img src="{{i.user.user_pic.url}}"
                                                                    class="h-75 align-self-end" alt="" />
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td class="pl-0">
                                                        <a href="#"
                                                            class="text-dark font-weight-bolder text-hover-primary mb-1 font-size-lg">{{i.user}}</a>
                                                        <span class="text-muted font-weight-bold d-block"></span>
                                                    </td>
                                                    <td class="text-right">
                                                        {% if i.paid is True %}
                                                        <span
                                                            class="text-muted font-weight-bold d-block font-size-sm">Paid</span>
                                                        {% else %}
                                                        <span
                                                            class="text-muted font-weight-bold d-block font-size-sm">Not
                                                            Paid</span>
                                                        {% endif %}
                                                        <span
                                                            class="text-dark-75 font-weight-bolder d-block font-size-lg">{{i.amount}}</span>
                                                    </td>
                                                    <td class="text-right">{{i.driver_amount}}</td>
                                                    <td class="text-right pr-0">
                                                        <a href="{% url 'order_details' i.id %}"
                                                            class="btn btn-icon btn-light btn-sm">
                                                            <span class="svg-icon svg-icon-md svg-icon-success">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Arrow-right.svg-->
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                                        <rect fill="#000000" opacity="0.3"
                                                                            transform="translate(12.000000, 12.000000) rotate(-90.000000) translate(-12.000000, -12.000000)"
                                                                            x="11" y="5" width="2" height="14" rx="1" />
                                                                        <path
                                                                            d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z"
                                                                            fill="#000000" fill-rule="nonzero"
                                                                            transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon-->
                                                            </span>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            <tfoot>
                                                <tr>
                                                <tr>
                                                    <td class="p-0 w-50px">Total</td>
                                                    <td class="p-0 min-w-150px">{{order_day_count}}</td>
                                                    <td class="p-0 min-w-70px text-right">{{amount_day}}</td>
                                                    <td class="p-0 min-w-70px text-right">{{commision_day}}
                                                    </td>
                                                </tr>
                                                </tr>
                                            </tfoot>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Tap pane-->
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Base Table Widget 6-->
                </div>
                <div class="col-xl-4">
                    <div class="card card-custom card-stretch gutter-b bg-dark" id="kt_page_stretched_card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3
                                    class="card-label card-title font-weight-bolder text-white font-size-h6 mb-4 text-hover-state-dark d-block">
                                    Messages</small></h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-scroll">
                                <table class="table table-hover table-dark">
                                    <thead>
                                        <tr>
                                            <th scope="col">Sender</th>
                                            <th scope="col">Message</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in texts %}
                                        <tr>
                                            <td>{{i.sender}}</td>
                                            <td>{{i.msg}}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="card card-custom gutter-b">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">
                                    Deliveries Per Month
                                </h3>
                            </div>
                        </div>
                        <div class="card-body">
                            <canvas id="deliveryman_chart"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->
<script>
    var ctx = document.getElementById('deliveryman_chart').getContext('2d');
    var january = JSON.parse("{{january|escapejs}}");
    var february = JSON.parse("{{february|escapejs}}");
    var march = JSON.parse("{{march|escapejs}}");
    var april = JSON.parse("{{april|escapejs}}");
    var may = JSON.parse("{{may|escapejs}}");
    var june = JSON.parse("{{june|escapejs}}");
    var july = JSON.parse("{{july|escapejs}}");
    var august = JSON.parse("{{august|escapejs}}");
    var september = JSON.parse("{{september|escapejs}}");
    var october = JSON.parse("{{october|escapejs}}");
    var november = JSON.parse("{{november|escapejs}}");
    var december = JSON.parse("{{december|escapejs}}");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['january', 'february', 'march', 'april', 'may', 'june', 'july', 'august', 'september', 'october', 'november', 'december'],
            datasets: [{
                label: 'Deliveries Per Month',
                data: [january, february, march, april, may, june, july, august, september, october, november, december],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 0.4
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}