{% extends '../base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<style>
    .confirm {
        position: absolute;
        z-index: 300;
        bottom: 0;
        right: 15px;
    }

    .hide {
        display: none;
    }

    .show {
        display: block !important;
    }
</style>
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <button class="btn btn-light-primary" onclick="package()">Use Package</button>
            <a class="btn btn-light-info" href="{% url 'PackageView' %}">Package Details</a> {% for i in prices %}
            <input type="text" value="{{i.inside_dhaka}}" id="inside" hidden>
            <input type="text" value="{{i.dhaka_suburb}}" id="suburb" hidden>
            <input type="text" value="{{i.outside_dhaka}}" id="outside" hidden>
            <input type="text" value="{{i.extra}}" id="extra" hidden> {% endfor %} {% if messages %}
            <div class="alert alert-custom alert-light-primary fade show mb-5" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p class="messages">
                        {% for message in messages %}
                    <p {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{message}}
                    </p>
                    {% endfor %}
                    </p>
                </div>
            </div>
            {% endif %}
            <form class="form" id="kt_form" method="POST">
                {% csrf_token %} {{form.errors}}
                <!--end::Form-->
                <div class="card card-custom card-sticky" id="kt_page_sticky_card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="card-label">Order Create</h3>
                        </div>
                        <div class="card-toolbar">
                            <a href="{% url 'order_list' %}" class="btn btn-light-primary font-weight-bolder mr-2">
                                <i class="ki ki-long-arrow-back icon-xs"></i>Back</a>
                            <button type="submit" class="btn btn-primary font-weight-bolder">
                                <i class="ki ki-check icon-xs"></i>Save Form</button>
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.receiver|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.receiver_Contact|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.receiver_Email|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6" id="area">
                                <label for="id_area" class=" requiredField">
                                    Area<span class="asteriskField">*</span>
                                </label>
                                <div class="">
                                    <select name="area" class="select form-control" required="" id="id_area"
                                        onchange="total()">
                                        <option value="" selected="">---------</option>
                                        <option value="Inside Dhaka">Inside Dhaka</option>
                                        <option value="Dhaka Suburb">Dhaka Suburb</option>
                                        <option value="Outside Dhaka">Outside Dhaka</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                <label for="id_payment">Payment*</label>
                                <select name="payment" id="id_payment" class="textinput textInput form-control"
                                    required>
                                    <option value="">---------</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Wallet">Wallet</option>
                                    <option value="Online">Online</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 mb-0" id="package" style="display: none;">
                                <label for="id_package">Package*</label>

                                <select name="package" id="id_package" onchange="package_func()"
                                    class="textinput textInput form-control">
                                    <option value="" selected="">---------</option>
                                    {% for v in package %}
                                    <option value="{{v.id}}">{{v.name}}</option>
                                    {%endfor%}

                                </select>

                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.product_Type|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.quantity|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.contents|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0" id="weight">
                                <label for="id_weight">Weight*</label>
                                <input type="text" name="weight" maxlength="100"
                                    class="textinput textInput form-control" required="" id="id_weight"
                                    oninput="total()">
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.priority|as_crispy_field }}
                            </div>

                            <div class="form-group col-md-6 mb-0">
                                {{ form.service|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <label for="id_package" class=" requiredField">
                                    Amount<span class="asteriskField">*</span>
                                </label>
                                <input type="number" name="amount" maxlength="100"
                                    class="textinput textInput form-control" id="id_amount" readonly>
                            </div>
                        </div>
                        <input type="text" name="pick_up_latitude" maxlength="50" id="id_pick_up_latitude" hidden>
                        <input type="text" name="pick_up_longitude" maxlength="50" id="id_pick_up_longitude" hidden>
                        <input type="text" name="delivery_latitude" maxlength="50" id="id_delivery_latitude" hidden>
                        <input type="text" name="delivery_longitude" maxlength="50" id="id_delivery_longitude" hidden>
                    </div>
                    <!--end::Card-->
            </form>
            <div>
                <h5>Enter Delivery Location: </h5>
                <input type="text" class="bksearch">
                <div class="bklist">
                </div>
            </div>
            <div id="map" style="height: 400px;"></div>
        </div>
    </div>
</div>
<script
    src="https://cdn.jsdelivr.net/gh/barikoi/barikoi-js@b6f6295467c19177a7d8b73ad4db136905e7cad6/dist/barikoi.min.js?key:MTM0MjpTTzVSU0hCOFFO"></script>
<script>
    var map = L.map('map').setView([51.505, -0.09], 13);
    // Set up the OSM layer
    L.tileLayer(
        'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 18
    }).addTo(map)

    Bkoi.onSelect(function () {
        // get selected data from dropdown list
        let selectedPlace = Bkoi.getSelectedData()
        // center of the map
        let center = [selectedPlace.latitude, selectedPlace.longitude]
        var lat = document.getElementsByName("delivery_latitude").value = selectedPlace.latitude;
        document.getElementById("id_delivery_latitude").value = lat;
        var lng = document.getElementsByName("delivery_longitude").value = selectedPlace.longitude;
        document.getElementById("id_delivery_longitude").value = lng;
        // Add marker to the map & bind popup
        map.setView(center, 19)
        L.marker(center).addTo(map).bindPopup(selectedPlace.address)
    })

    var icon = new L.Icon({
        iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
    });

    function onLocationFound(e) {
        var radius = e.accuracy * 1.5;
        L.marker(e.latlng, {
            icon: icon
        })
            .addTo(map)
            .bindPopup("Current Position").openPopup();
        L.circle(e.latlng, radius).addTo(map);
        var lat = document.getElementsByName("pick_up_latitude").value = e.latlng.lat;
        document.getElementById("id_pick_up_latitude").value = lat;
        var lng = document.getElementsByName("pick_up_longitude").value = e.latlng.lng;
        document.getElementById("id_pick_up_longitude").value = lng;
    }

    function onLocationError(e) {
        alert(e.message);
    }

    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    map.locate({
        setView: true,
        maxZoom: 16
    });
</script>
<script>
    function package_func() {
        var package_id = document.getElementById('id_package').value
        $.ajax({
            method: "GET",
            url: "/api/package/",
            data: {
                pk: package_id
            },
            success: function (data) {
                $.each(data, function (key, value) {
                    console.log(value.price);
                    $("#id_amount").val(value.price);
                });
            }
        });
    }
</script>

<script>
    function total() {
        var area = document.getElementById("id_area").value;
        var weight = parseInt(document.getElementById("id_weight").value);
        var inside = parseInt(document.getElementById("inside").value);
        var suburb = parseInt(document.getElementById("suburb").value);
        var outside = parseInt(document.getElementById("outside").value);
        var extra = parseInt(document.getElementById("extra").value);
        if (area === 'Inside Dhaka' && weight === 1) {
            var amount = inside;
        } else if (area === 'Inside Dhaka' && weight > 1) {
            var amount = inside + (weight * extra);
        } else if (area === 'Dhaka Suburb' && weight === 1) {
            var amount = suburb;
        } else if (area === 'Dhaka Suburb' && weight > 1) {
            var amount = suburb + (weight * extra);
        } else if (area === 'Outside Dhaka' && weight === 1) {
            var amount = outside;
        } else if (area === 'Outside Dhaka' && weight > 1) {
            var amount = outside + (weight * extra);
        }
        document.getElementById("id_amount").value = amount
    }
</script>
<script>
    function package() {
        var weight = document.getElementById("weight");
        var area = document.getElementById("area");
        var package = document.getElementById("package");
        weight.classList.toggle("hide");
        area.classList.toggle("hide");
        package.classList.toggle("show")
    }
</script>
{% endblock %}