{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
	.alert {
        color: #721c24 !important;
        background-color: #f8d7da !important;
        border-color: #f5c6cb !important;
        width: 300px;
        text-align: center;
        align-self: center;
    }
</style>
{%if messages%}
<div class="alert alert-success" id="alert">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " style="list-style: none;" {% endif %}> <i
            class="fa fa-times" style="color: red; padding-right: 5px;"></i>{{message }} </li>
    {% endfor %}
</div>
{%endif%}
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Subheader-->
	<div class="subheader py-2 py-lg-4 subheader-transparent" id="kt_subheader">
		<div class="container d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
			<!--begin::Details-->
			<div class="d-flex align-items-center flex-wrap mr-2">
				<!--begin::Title-->
				<h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Users</h5>
				<!--end::Title-->
				<!--begin::Separator-->
				<div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
				<!--end::Separator-->
				<!--begin::Search Form-->
				<div class="d-flex align-items-center" id="kt_subheader_search">
					<span class="text-dark-50 font-weight-bold" id="kt_subheader_total">{{count}}</span>

					<form class="ml-5" action="{%url 'search_user'  %}">
						<div class="input-group input-group-sm input-group-solid">
							<input type="text" class="form-control" id="tags" name="q"  placeholder="Search users..." value="{{ request.GET.q }}" required />
							<div class="input-group-append">
								<button class="btn btn-success" type="submit">Search</button>
							</div>
						</div>
					</form>
					
				</div>
				<!--end::Search Form-->
				<!--begin::Group Actions-->
				<div class="d-flex- align-items-center flex-wrap mr-2 d-none" id="kt_subheader_group_actions">
					<div class="text-dark-50 font-weight-bold">
						<span id="kt_subheader_group_selected_rows">23</span>Selected:
					</div>
					<div class="d-flex ml-6">
						<div class="dropdown mr-2" id="kt_subheader_group_actions_status_change">
							<button type="button"
								class="btn btn-light-primary font-weight-bolder btn-sm dropdown-toggle"
								data-toggle="dropdown">Update Status</button>
							<div class="dropdown-menu p-0 m-0 dropdown-menu-sm">
								<ul class="navi navi-hover pt-3 pb-4">
									<li
										class="navi-header font-weight-bolder text-uppercase text-primary font-size-lg pb-0">
										Change status to:</li>
									<li class="navi-item">
										<a href="#" class="navi-link" data-toggle="status-change" data-status="1">
											<span class="navi-text">
												<span
													class="label label-light-success label-inline font-weight-bold">Approved</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link" data-toggle="status-change" data-status="2">
											<span class="navi-text">
												<span
													class="label label-light-danger label-inline font-weight-bold">Rejected</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link" data-toggle="status-change" data-status="3">
											<span class="navi-text">
												<span
													class="label label-light-warning label-inline font-weight-bold">Pending</span>
											</span>
										</a>
									</li>
									<li class="navi-item">
										<a href="#" class="navi-link" data-toggle="status-change" data-status="4">
											<span class="navi-text">
												<span class="label label-light-info label-inline font-weight-bold">On
													Hold</span>
											</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<button class="btn btn-light-success font-weight-bolder btn-sm mr-2"
							id="kt_subheader_group_actions_fetch" data-toggle="modal"
							data-target="#kt_datatable_records_fetch_modal">Fetch Selected</button>
						<button class="btn btn-light-danger font-weight-bolder btn-sm mr-2"
							id="kt_subheader_group_actions_delete_all">Delete All</button>
					</div>
				</div>
				<!--end::Group Actions-->
			</div>
			<!--end::Details-->
			<!--begin::Toolbar-->
			<div class="d-flex align-items-center">
				<!--begin::Button-->
				<a href="#" class=""></a>
				<!--end::Button-->
				<!--begin::Button-->
				<a href="{%url 'register' %}"
					class="btn btn-light-primary font-weight-bold btn-sm px-5 font-size-base ml-2">Add User</a>
				<!--end::Button-->
				<!--begin::Dropdown-->
				
				<!--end::Dropdown-->
			</div>
			<!--end::Toolbar-->
		</div>
	</div>
	<!--end::Subheader-->

	<!--begin::Entry-->
	<div class="d-flex flex-column-fluid">
		<!--begin::Container-->
		<div class="container">
			<!--begin::Row-->
			<div class="row">
				<!--begin::Col-->
				{%for user in non_active%}
				<div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
					<!--begin::Card-->
					<div class="card card-custom gutter-b card-stretch">
						<!--begin::Body-->
						<div class="card-body text-center pt-4">
							<!--begin::Toolbar-->
							<div class="d-flex justify-content-end">
								<div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions"
									data-placement="left">
									<a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
										data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<i class="ki ki-bold-more-hor"></i>
									</a>
									<div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
										<!--begin::Navigation-->
										<ul class="navi navi-hover">
											
											<li class="navi-separator mb-3 opacity-70"></li>
											<li class="navi-item">
												<a href="#" class="navi-link">
													<span class="navi-text">
														{%if user.is_driver%}
														<span class="label label-xl label-inline label-light-success">Driver</span>
														{%elif user.is_delivery_man%}
														<span class="label label-xl label-inline label-light-success">Deliveryman</span>
														{%elif user.is_agent%}
														<span class="label label-xl label-inline label-light-success">Agent</span>
														{%elif user.is_merchant%}
														<span class="label label-xl label-inline label-light-success">Merchant</span>
														{%else%}
														<span class="label label-xl label-inline label-light-success">Client/User</span>
														{%endif%}
													</span>
												</a>
											</li>
											
										</ul>
										<!--end::Navigation-->
									</div>
								</div>
							</div>
							<!--end::Toolbar-->
							<!--begin::User-->

							
								<div class="symbol symbol-circle symbol-lg-75">
								<div class="mt-7">
									{% if user.user_pic %}
									<img src="{{user.user_pic.url}}" alt="image" />
									{% else %}
									<img src="" alt="image" />
									{% endif %}
								</div>
								<div class="symbol symbol-lg-75 symbol-circle symbol-primary d-none">
									<span class="font-size-h3 font-weight-boldest">JB</span>
								</div>
							</div>
							<!--end::User-->
							<!--begin::Name-->
							<div class="my-2">
								<a href="#"
									class="text-dark font-weight-bold text-hover-primary font-size-h4">{{user.username}}</a>
							</div>
							<!--end::Name-->
							<!--begin::Label-->

							<span
								class="label label-inline label-lg label-light-warning btn-sm font-weight-bold">Inactive.</span><br>
							<a href="{%url 'acc_approval' user.id %}">
								<span
									class="label label-inline label-lg label-light-warning btn-sm font-weight-bold">Approve
									user?</span>
							</a>
							<!--end::Label-->
							<!--begin::Buttons-->
							<div class="mt-9 mb-6">
								<a href="{%url 'profile_visits' user.id%}">
									<i class="fa fa-user"></i>
									View Details</a>
							</div>

							<!--end::Buttons-->
						</div>
						<!--end::Body-->
					</div>
					<!--end::Card-->
				</div>
				<!--end::Col-->
				{%endfor%}
			</div>
			<!--end::Row-->
			<!--begin::Pagination-->
			{% if non_active.has_other_pages %}
			<ul class="pagination">
			  {% if non_active.has_previous %}
				<li class="page-item active">
					<a class="page-link" href="?page={{ non_active.previous_page_number }}">pre</a>
				</li>
			  {% else %}
				<li class="page-item disabled"><span></span></li>
			  {% endif %}
			  {% for i in non_active.paginator.page_range %}
				{% if non_active.number == i %}
				  <li class="page-item"><span style="z-index: 1; position: relative; display: block;padding: 0.5rem 0.75rem; margin-left: -1px; line-height: 1.25; color: #f7efef; background-color: #F64E60; border: 1px solid #E4E6EF;">{{ i }} <span class="sr-only" >(current)</span></span></li>
				{% else %}
				  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endif %}
			  {% endfor %}
			  {% if non_active.has_next %}
				<li class="page-item active">
					<a class="page-link" href="?page={{ non_active.next_page_number }}">Next</a>
				</li>
			  {% else %}
				<li class="page-item disabled"><span></span></li>
			  {% endif %}
			</ul>
		  {% endif %}
		</div>
		<!--end::Container-->
	</div>
	<!--end::Entry-->
</div>
<!--end::Content-->
<!-- <script type="text/javascript">
    $(document).ready(function() { 
    $("#id_fieldname").select2({
        placeholder:"search here",
        allowClear:true,
    }); 
    });
</script> -->

<script>
    setTimeout(function () {
        $('#alert').remove();
    }, 5000);
</script>
{%endblock%}