{% extends '../base.html' %}
{% load static %}
{% block content %}

<style>
	.alert {
        color: #721c24 !important;
        background-color: #f8d7da !important;
        border-color: #f5c6cb !important;
        width: 300px;
        text-align: center;
        align-self: center;
    }
</style>
{%if messages%}
<div class="alert alert-success" id="alert">
    {% for message in messages %}
    <li {% if message.tags %} class=" {{ message.tags }} " style="list-style: none;" {% endif %}> <i
            class="fa fa-times" style="color: red; padding-right: 5px;"></i>{{message }} </li>
    {% endfor %}
</div>
{%endif%}
<div class="d-flex flex-column-fluid">
<div class="container">
    <div class="row">
            {% for user in drivers %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <!--begin::Card-->
                <div class="card card-custom gutter-b card-stretch">
                    <!--begin::Body-->
                    <div class="card-body text-center pt-4">
                        <!--begin::Toolbar-->
                        <div class="d-flex justify-content-end">
                            <div class="dropdown dropdown-inline" data-toggle="tooltip" title="Quick actions"
                                data-placement="left">
                                <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ki ki-bold-more-hor"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                    <!--begin::Navigation-->
                                    <ul class="navi navi-hover">
                                        
                                        <li class="navi-separator mb-3 opacity-70"></li>
                                        <li class="navi-item">
                                            <a href="#" class="navi-link">
                                                <span class="navi-text">
                                                    {%if user.is_driver%}
                                                    <span class="label label-xl label-inline label-light-success">Driver</span>
                                                    {%elif user.is_delivery_man%}
                                                    <span class="label label-xl label-inline label-light-success">Deliveryman</span>
                                                    {%elif user.is_agent%}
                                                    <span class="label label-xl label-inline label-light-success">Agent</span>
                                                    {%elif user.is_merchant%}
                                                    <span class="label label-xl label-inline label-light-success">Merchant</span>
                                                    {%elif user.is_superuser%}
                                                    <span class="label label-xl label-inline label-light-success">Admin</span>
                                                    {%else%}
                                                    <span class="label label-xl label-inline label-light-success">Client/User</span>
                                                    {%endif%}
                                                </span>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                    <!--end::Navigation-->
                                </div>
                            </div>
                        </div>
                        <!--end::Toolbar-->
                        <!--begin::User-->

                        <div class="mt-7">
                            <div class="symbol symbol-circle symbol-lg-75">
                                {%if user.user_pic %}
                                <img src="{{user.user_pic.url}}" alt="image" />
                                {%else%}
                                <img src="" alt="" />
                                {%endif%}
                            </div>
                            <div class="symbol symbol-lg-75 symbol-circle symbol-primary d-none">
                                <span class="font-size-h3 font-weight-boldest">JB</span>
                            </div>
                        </div>
                        <!--end::User-->
                        <!--begin::Name-->
                        <div class="my-2">
                            <a href="#"
                                class="text-dark font-weight-bold text-hover-primary font-size-h4">{{user.username}}</a>
                        </div>
                        <!--end::Name-->
                        <!--begin::Label-->

                        <span
                            class="label label-inline label-lg label-light-warning btn-sm font-weight-bold">{{user.contact}}</span><br>
                            <span
                                class="label label-inline label-lg label-light-warning btn-sm font-weight-bold">{%if user.is_active%}
                                Active{%else%}Inactive{%endif%}
                            </span>

                        <!--end::Label-->
                        <!--begin::Buttons-->
                        <div class="mt-9 mb-6">
                            <a href="{%url 'profile_visits' user.id%}">
                                <i class="fa fa-user"></i>
                                View Details</a>
                        </div>

                        <!--end::Buttons-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Card-->
            </div>
            {% endfor %}
    </div>
    <div class="row">
        {% if drivers.has_other_pages %}
			<ul class="pagination">
			  {% if drivers.has_previous %}
				<li class="page-item active">
					<a class="page-link" href="?page={{ drivers.previous_page_number }}&q6={{ request.GET.q6 }}">pre</a>
				</li>
			  {% else %}
				<li class="page-item disabled"><span></span></li>
			  {% endif %}
			  {% for i in drivers.paginator.page_range %}
				{% if drivers.number == i %}
				  <li class="page-item"><span style="z-index: 1; position: relative; display: block;padding: 0.5rem 0.75rem; margin-left: -1px; line-height: 1.25; color: #f7efef; background-color: #F64E60; border: 1px solid #E4E6EF;">{{ i }} <span class="sr-only" >(current)</span></span></li>
				{% else %}
				  <li class="page-item"><a class="page-link" href="?page={{ i }}&q6={{ request.GET.q6 }}">{{ i }}</a></li>
				{% endif %}
			  {% endfor %}
			  {% if drivers.has_next %}
				<li class="page-item active">
					<a class="page-link" href="?page={{ drivers.next_page_number }}&q6={{ request.GET.q6 }}">Next</a>
				</li>
			  {% else %}
				<li class="page-item disabled"><span></span></li>
			  {% endif %}
			</ul>
		{% endif %}
    </div>
</div>
</div>


{%endblock%}