{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <input type="submit" class="form-control bg-hover-primary">
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}